* {
  box-sizing: border-box;
}
body {
  background-color: #b1c9bb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #6bb189;
  padding: 0px;
  margin: 0px;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  border: 4px solid #b1c9bb;
  font-family: sans-serif;
}

.container-one {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
.container-two {
  text-align: center;
  padding: 0px;
  margin-top: 23px;
  padding-top: 20px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

h1,
h2,
h3 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #b1c9bb;
  padding: 0 0 10px;
  color: #57635c;
}

h3 {
  font-size: 15px;
  text-align: center;
  padding: 10px 0 10px;
  color: #57635c;
  border-bottom: 1px solid #b1c9bb;
}
.container-two h1 {
  font-size: 20px;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}

.box {
  padding: 10px 15px;
  border: 2px solid #b1c9bb;
  border-radius: 5px;
  background: #fff;
  margin: 15px 10px;
}

.new-task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-tasks, .input-updates{
  /*height: 0%;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

#new-task, #update-task{
  margin-right: 5px;
  height: 0%;
}

#addTask, #updateTask {
  height: 0%;
}

.display-things {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todo-list {
  margin: 0px;
  width: 50%;
  height: auto;
}

.complete-list {
  margin: 0px;
  width: 50%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 7px;
}

li {
  padding: 10px;
  border-bottom: 2px dotted #ccc;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.id {
  font-size: 10px;
  width: 20%;
  text-align: center;
  border: 2px solid #050505;
  border-radius: 5px;
  margin-right: 3px;
  padding: 3px;
}
.list-content {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-todo input {
  margin-left: 0px;
  margin-right: 7px;
}
.add-todo button {
  margin-left: 7px;
  margin-right: 0px;
}
.complete-todo .undo {
  margin-left: 0px;
  margin-right: 7px;
}
.complete-todo .delete {
  margin-left: 7px;
  margin-right: 0px;
}

.High {
  background-color: rgb(252, 90, 90);
}
.Medium {
  background-color: rgb(252, 118, 118);
}
.Low {
  background-color: rgb(255, 167, 167);
}

.history-container{
  text-align: center;
  height: 193px;
  overflow: scroll;
  width: 100%;
}

#priority-select, #update-priority{
  margin-right: 5px;
}

@media only screen and (max-width: 873px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container-one {
    width: 100%;
  }
  .container-two {
    text-align: center;
    margin: 0px;
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .history-container{
    width: 100%;
  }
  #new-task {
    margin-bottom: 10px;
  }
  .new-task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #priority-select{
    margin-bottom: 7px;
  }
  .input-tasks, .input-updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
  }
  .display-things {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .todo-list {
    width: 100%;
  }

  .complete-list {
    width: 100%;
  }
  .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
