* {
  box-sizing: border-box;
}
body {
  background-color: #b1c9bb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #6bb189;
  padding: 0px;
  margin: 0px;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  border: 4px solid #b1c9bb;
  font-family: sans-serif;
}

.container-one {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
.container-two {
  padding: 10px;
  width: 25%;
}

h1,
h2,
h3 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #b1c9bb;
  padding: 0 0 10px;
  color: #57635c;
}

h3 {
  font-size: 15px;
  text-align: center;
  padding: 10px 0 10px;
  color: #57635c;
  border-bottom: 1px solid #b1c9bb;
}
.container-two h1 {
  font-size: 20px;
  padding-bottom: 4px;
}

.box {
  padding: 10px 15px;
  border: 2px solid #b1c9bb;
  border-radius: 5px;
  background: #fff;
  margin: 15px 10px;
}

.new-task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-things {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

#new-task {
  margin-right: 2px;
  height: 0%;
}

#addTask {
  height: 0%;
}

.display-things {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todo-list {
  margin: 0px;
  width: 50%;
}

.complete-list {
  margin: 0px;
  width: 50%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 7px;
}

li {
  padding: 10px;
  border-bottom: 2px dotted #ccc;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: space-between;*/
}
.id {
  width: 20%;
  text-align: center;
  border: 2px solid #050505;
  border-radius: 5px;
  margin-right: 2px;
}
.list-content {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-todo input {
  margin-left: 0px;
  margin-right: 7px;
}
.add-todo button {
  margin-left: 7px;
  margin-right: 0px;
}
.complete-todo .undo {
  margin-left: 0px;
  margin-right: 7px;
}
.complete-todo .delete {
  margin-left: 7px;
  margin-right: 0px;
}

.High {
  background-color: rgb(252, 90, 90);
}
.Medium {
  background-color: rgb(252, 118, 118);
}
.Low {
  background-color: rgb(255, 167, 167);
}

/*..drpdown purpose..*/
.select-box {
  margin-right: 3px;
  text-align: center;
  display: flex;
  width: 70px;
  flex-direction: column;
}

.select-box .options-container.active {
  max-height: 100px;
  opacity: 1;
}

.select-box .option,
.selected {
  text-align: center;
  padding: 3px;
  cursor: pointer;
}
.select-box label {
  cursor: pointer;
}
.select-box .option input[type="radio"] {
  display: none;
}
.select-box .option:hover {
  background: #414b57;
  color: #fff;
}
.select-box .options-container {
  max-height: 0px;
  opacity: 0;
  background-color: #ccc;
  transition: all 0.4s;
  overflow: hidden;
  border-radius: 5px;
}
.select-box .selected {
  background-color: #ccc;
  margin-bottom: 5px;
  border-radius: 5px;
}
.selected {
  font-size: 13px;
}
/*.............*/

@media only screen and (max-width: 873px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container-one {
    width: 100%;
  }
  .container-two {
    width: 100%;
  }
  #new-task {
    margin-bottom: 10px;
  }
  .new-task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .input-things {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
  }
  .display-things {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .todo-list {
    width: 100%;
  }

  .complete-list {
    width: 100%;
  }
}
